body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pet-image {
  padding: 4%;
  width: 40%;
  float: left;
}

.stats{
  padding: 2%;
  margin-top: 0;
  padding-top: 0;
}

.actions{
  padding-top: 5%;

}

.actions button{
  margin: 1%;
  padding: 1%;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.actions li{
  list-style-type: none;
}

.mood h1 {
  top: 10%;
  right: 13%;
  position: fixed;
}

.mood img {
  width: 20%;
  top: 20%;
  right: 5%;
  position: fixed;
}

.timer {
  position: fixed;
  bottom: 15%;
  right: 13%;
  margin: 1%;
  padding: 1%;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
}